/libpng-1.6.18
/freetype/objs
/harfbuzz/objs
/FontConfig/release
*.o
/Sile/IronPython
/jehbvc/jehbvc/Debug
/jehbvc/jehbvc/Release
/jehbvc/jehbvc/out/Release
*.lo
*.a
*.la
log.txt
raw.usx
.cache-3
*.sdf
